{:deps {org.clojure/clojure          {:mvn/version "1.10.1"}
        uncomplicate/neanderthal     {:mvn/version "0.25.3"}
        org.clojure/java.classpath   {:mvn/version "0.3.0"}
        org.clojure/tools.namespace  {:mvn/version "0.2.10"}
        com.cognitect/rebl           {:local/root "resources/REBL-0.9.172.jar"}}
 :aliases
       {:rebl
        {:extra-deps
                     {org.clojure/core.async      {:mvn/version "0.4.490"}
                      org.openjfx/javafx-fxml     {:mvn/version "11.0.1"}
                      org.openjfx/javafx-controls {:mvn/version "11.0.1"}
                      org.openjfx/javafx-swing    {:mvn/version "11.0.1"}
                      org.openjfx/javafx-base     {:mvn/version "11.0.1"}
                      org.openjfx/javafx-web      {:mvn/version "11.0.1"}}
         :jvm-opts   ["--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"]
         :main-opts  ["-m" "cognitect.rebl"]}}}
